/**
    Side Nav Bar
**/
.sidenav {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  z-index: -1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
/**
    Global variables
**/
/**
    Top Nav Bar
**/
header {
  z-index: 2;
}
header .topnav {
  overflow: hidden;
  background-color: #fcfcfc;
  margin: 0;
  height: 83.33333px;
  display: block;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
header .topnav a {
  text-decoration: none;
  color: black;
}
header .topnav a.user-name {
  font-weight: 700;
}
header .topnav a.brand {
  float: left;
  text-decoration: none;
  background-color: #40cca8;
  color: white;
  text-align: center;
  line-height: 83.33333px;
  font-size: 32px;
  font-weight: 700;
  height: 100%;
  width: 250px;
}
header .topnav input[type=text] {
  width: 525px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: whitesmoke;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 15px 12px 25px;
  margin-top: 20.33333px;
  margin-left: 62.5px;
}
header .topnav i.fa-chevron-down {
  position: relative;
  right: 32px;
  font-size: 13px;
  color: #bdc2ca;
}
header .topnav i.fa-search {
  font-size: 22px;
  line-height: 42px;
}
header .topnav button.search-button {
  margin-left: -26px;
  background: #bdc2ca;
  color: white;
  padding: 0;
  height: 42px;
  width: 47px;
  border: none;
  position: relative;
  top: 3px;
  border-radius: 0 4px 4px 0;
}
header .fa-user-o, header .fa-calendar, header .fa-list-ul {
  font-size: 24px;
  line-height: 42px;
  color: #8a8a8a;
  margin: 0 10px;
  position: relative;
  top: 3px;
}
header .fa-user-o:hover, header .fa-calendar:hover, header .fa-list-ul:hover {
  color: black;
}
header .profile-img {
  position: absolute;
  border-radius: 50%;
  margin: 10px;
  top: 2px;
}

/** 
    Hover button
**/
.drop-button {
  background-color: #e6614f;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 157.5px;
  height: 42px;
  border-radius: 4px;
  text-align: center;
  line-height: 100%;
}
.drop-button #drop-btn-chevron {
  position: relative;
  left: 13px;
  font-size: 13px;
  bottom: 1px;
}

.dropdown {
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .drop-button {
  background-color: #c6614f;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/** 
    Main Style File
 **/
body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  color: pink;
}

/*# sourceMappingURL=style.css.map */
