@import 'partials/side-nav';
@import 'partials/top-nav';
@import 'partials/drop-down-button';


/** 
    Main Style File
 **/
body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: rgb(247, 247, 247);
    height: 100%; // cover entire screen
    display: flex;
    flex-direction: column;
}
