@import 'variables';

/**
    Top Nav Bar
**/

header {
    // height: 10%;
    z-index: 2;
    .topnav {
        overflow: hidden;
        background-color: #fcfcfc; // temp
        margin: 0;
        height: $top-nav-height;
        display: block;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);

        a {
            text-decoration: none;
            color: black;

            &.user-name {
                font-weight: 700;
            }
        }

        a.brand {
            float: left;
            text-decoration: none;
            background-color: rgb(64, 204, 168); // Use a variable for this
            color: white;
            text-align: center;
            line-height: $top-nav-height;
            font-size: $brand-font-size;
            font-weight: 700;
            height: 100%;
            width: $side-nav-width;
        }
        // search bar
        input[type=text] {
            width: $search-box-width;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            background-color: rgb(245, 245, 245);
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 15px 12px 25px;
            margin-top: $top-nav-height - 42 * 1.5;
            margin-left: $top-nav-height * 0.75;
            // -webkit-transition: width 0.4s ease-in-out;
            // transition: width 0.4s ease-in-out;
            // &:focus {
            //     width: 50%;
            // }
        }

        i.fa-chevron-down {
            position: relative;
            right: 32px;
            font-size: 13px;
            color: #bdc2ca;
        }

        i.fa-search {
            font-size: 22px;
            line-height: $search-button-height;
        }

        button.search-button {
            margin: 0 25em 0 -26px;
            background: #bdc2ca;
            color: white;
            padding: 0;
            height: $search-button-height;
            width: $search-button-height + 5px;
            border: none;
            position: relative;
            top: 3px;
            border-radius: 0 4px 4px 0;
        }
    }

    .shortcuts {
        width: 212px;
        margin-bottom: 33px;
        display: inline-block;

    }

    .fa-user-o, .fa-calendar, .fa-list-ul {
        font-size: 24px;
        line-height: $search-button-height;
        color: #8a8a8a;
        margin: 0 20px;
        position: relative;
        top: 3px;
        &:hover {
            color: black;
        }
    }

    .profile-img {
        position: absolute;
        border-radius: 50%;
        margin: 10px;
        top: -2px;
    }
}

